%h1.title Personal Trainer App!
%h1 All Profiles
= link_to "Create a Profile", new_profile_path
%table#profiles
  %thead
    %tr
      %th Name
      %th Email
      %th Weight
      %th Height
  %tbody
    - @profiles.each do |profile|
      %tr
        %td= link_to "#{profile.name}", profile_path(profile) 
        %td= profile.email
        %td= profile.weight
        %td= profile.height
        
