-# in app/views/exercises/show.html.haml
%h1.title Personal Trainer App!
%h2 Details about #{@exercise.name}

%ul#details
  %li
    Image:
    = image_tag("#{@exercise.name}.png")
  %li
    Name:
    = @exercise.name
  %li
    Description:
    = @exercise.description
  %li
    Time:
    = @exercise.defaultTime
  
= link_to 'Back to All Workouts', workouts_path
